<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blogs</title>
    <link rel="stylesheet" href="/style/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div id="main">
        <div id="hero">
            <div id="navbar">
                <div id="nav-left">
                    <h1>My Blogs</h1>
                </div>
                <div id="nav-right">
                    <a href="/">Home</a>
                    <a href="/blog">Blog</a>
                    <a href="/about">About</a>
                    <a href="/resources">Resources</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>