<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blogs</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div id="main">
        <div id="hero">
            <div id="navbar">
                <div id="nav-left">
                    <h1>My Blogs</h1>
                </div>
                <div id="nav-right">
                    <h4><a href="/">Home</a></h4>
                    <h4><a href="/blog">Blog</a></h4>
                    <h4><a href="/about">About</a></h4>
                    <h4><a href="/resources">Resources</a></h4>
                    <h4><a href="/contact">Contact</a></h4>
                </div>
            </div>